.container {
	margin: auto;
    display: flex;
	flex-direction: column;
	background-color: #EBF5FB;
	width: 1200px;
}
h1 {
	color: #FC4444;
}
.body {
	margin: auto;
	width: 530px;
	background-color: #FC4444;
	font-size: 22px;
	font-family: "幼圆";
	color: white;
}
.button {
    background-color: #2ECC71;
	border: 2px solid #45B39D;
	border-radius: 16px;
    color: white;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
	font-family: "Times New Roman",Times,Sans-serif;
    display: inline-block;
    font-size: 16px;
}
.button:hover {
	background-color: #45B39D;
}
@media screen and (max-width: 1200px) {
	.container {
		width: 100%;
	}
}
@media screen and (max-width: 530px) {
	.body {
		width: 100%;
	}
}