.container {
	margin: auto;
    display: flex;
	flex-direction: column;
	background-color: #EBF5FB;
    width: 720px;
    height: 480px;
}
.topnav {
	overflow: hidden;
	background-color: grey;
}
.topnav a {
	float: left;
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
.topnav a.active {
    background-color: #87CEFA;
    color: white;
}
.topnav a:hover:not(.active) {
    background-color: #87CEFA;
    color: white;
	
}
.body {
	margin: auto;
	background-color: #87CEFA;
	border-radius: 10px;
	padding: 10px;
	width: 380px;
	height: 220px;
	font-size: 22px;
	font-family: "幼圆";
	color: #000000;
}
.footer {
	color: #717D7E;
}
body {
	background-image: url(); 
    background-position: center; 
}
@media screen and (max-width: 600px) {
	.container {
		width: 420px;
	}
	.topnav a {
		float: none;
		
	}
}