.container {
	margin: auto;
    display: flex;
	flex-direction: column;
	background-color: #EBF5FB;
    width: 1200px;
    height: 500px;
}
.topnav {
	overflow: hidden;
	background-color: grey;
}
.topnav a {
	float: left;
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
.topnav a.active {
    background-color: #87CEFA;
    color: white;
}
.topnav a:hover:not(.active) {
    background-color: #87CEFA;
    color: white;
}
.body {
	margin: auto;
	background-color: #87CEFA;
	border-radius: 50px;
	width: 420px;
	height: 300px;
}
.body p {
	color: #E5E8E8;
	font-size: 24px;
	text-align: center;
}
body {
	background-image: url(); 
    background-position: center; 
}
@media screen and (max-width: 1200px) {
	.container {
		width: 420px;
		height: 640px;
	}
	.body {
		border-radius: 0px;
	}
	.topnav a {
		float: none;
	}
}