.container {
	margin: auto;
    display: flex;
	flex-direction: column;
	background-color: #EBF5FB;
    width: 720px;
    height: 480px;
}
.topnav {
	overflow: hidden;
	background-color: grey;
}
.topnav a {
	float: left;
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
.topnav a.active {
    background-color: #87CEFA;
    color: white;
}
.topnav a:hover:not(.active) {
    background-color: #87CEFA;
    color: white;
}
.body {
	float: left;
	margin: auto;
	background-color: #87CEFA;
	border-radius: 10px;
	padding: 10px;
	width: 380px;
	height: 220px;
	font-size: 22px;
	font-family: "幼圆";
	color: #000000;
}
.button {
    background-color: #2ECC71;
	border: 2px solid #45B39D;
	border-radius: 16px;
    color: white;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
	font-family: "Times New Roman",Times,Sans-serif;
    display: inline-block;
    font-size: 16px;
	transition: padding 0.5s;
}
.button:hover {
    padding: 12px 30px;
	background-color: #45B39D;
}
.imgbutton {
	border-radius: 8px;
    width: 36px;
    height: 36px;
    transition: width 0.5s, height 0.5s, transform 0.5s;
}
.imgbutton:hover {
    width: 42px;
    height: 42px;
	filter: blur(2px);
    transform: rotate(360deg);
}
.footer {
	color: #717D7E;
}
.footer a {
	text-decoration: none;
	color: #4EA6E4;
}
.footer a:hover {
	color: white;
	background-color: grey;
}
body {
	background-image: url(); 
    background-position: center; 
}
#tr1 {
	height: 55px;
}
#td1 {
	width: 144px;
}
#td2 {
	text-align: center;
}
#td3 {
	width: 140px;
}
#td4 {
	text-align: center;
	width: 160px;
}
@media screen and (max-width: 720px) {
	.container {
		width: 420px;
		height: 560px;
	}
	.topnav a {
		float: none;
	}
	.body {
		border-radius: 0px;
		width: 400px;
	}
}