.container {
	margin: auto;
    display: flex;
	flex-direction: column;
	background-color: #EBF5FB;
    width: 1200px;
    height: 1000px;
	transition: height 2s;
}
.topnav {
	overflow: hidden;
	background-color: grey;
}
.topnav a {
	float: left;
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
.topnav a.active {
    background-color: #87CEFA;
    color: white;
}
.topnav a:hover:not(.active) {
    background-color: #87CEFA;
    color: white;
}
.body {
	margin: auto;
	background-color: #87CEFA;
}
.mb {
    width: 1200px;
    height: 800px;
}
@media screen and (max-width: 1200px) {
	.container {
		width: 420px;
		height: 1200px;
	}
	.topnav a {
		float: none;
	}
	.body {
		border-radius: 0px;
		width: 400px;
    }
    .mb {
        width: 420px;
        height: 800px;
    }
}