.container {
	margin: auto;
    display: flex;
	flex-direction: column;
	background-color: #EBF5FB;
    width: 720px;
    height: 480px;
}
@media screen and (max-width: 600px) {
	.container {
		width: 420px;
	}
}
.topnav {
  overflow: hidden;
  background-color: grey;
}
.topnav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.topnav a.active {
    background-color: black;
    color: white;
}
.topnav a:hover:not(.active) {
    background-color: black;
    color: white;
}
.body {
	margin: auto;
	background-color: #87CEFA;
	border-radius: 10px;
	padding: 10px;
	width: 380px;
	height: 180px;
	font-size: 22px;
	font-family: "幼圆";
	color: #000000;
}
.button {
    background-color: #AC45AF;
	border-radius: 16px;
    color: white;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
	font-family: "Times New Roman",Times,Sans-serif;
    display: inline-block;
    font-size: 16px;
	transition: padding 0.5s;
}
.button:hover {
    padding: 12px 32px;
}
.imgbutton {
	border-radius: 8px;
    width: 36px;
    height: 36px;
    transition: width 0.5s, height 0.5s, transform 0.5s;
}
.imgbutton:hover {
    width: 42px;
    height: 42px;
    transform: rotate(360deg);
}
.footer {
	color: #717D7E;
}
body {
	background-image: url(); 
    background-position: center; 
}
#tr1 {
	height: 55px;
}
#td1 {
	width: 200px;
}
#td2 {
	text-align: center;
}
#td3 {
	width: 140px;
}
#td4 {
	text-align: center;
	width: 160px;
}